<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-body">
              <h5><a href="#" class="card-title text-dark">Evento en vivo</a></h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>
              <%=link_to 'Ver m치s', '#', class: 'card-link'%>
              <br />
              <div class="row media-buttons">
                <div class="fb-share-button" data-href="#" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                <a class="twitter-share-button" target="_blank" rel="#" href="https://twitter.com/intent/tweet?text=Estoy%20viendo%20esta%20transmisi%C3%B3n%20en%20vivo!%20%23akia" data-size="large">Tweet</a>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script><script type="IN/Share" data-url="#"></script>
              </div>

              <a href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisi칩n del evento, agrega una breve descripci칩n">Recomienda</a>
            </div>
          </div>
          <div class="col-sm-8">
            <p class="card" style="height:100%;background-color:#999999">
              <br /><br /> Video
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <!-- Carrusel proximos eventos -->
  <h3>Pr칩ximos eventos</h3>
  <!-- Tomado de la documentacion de bootstrap, se deja para mostrar los diferentes estilos del titulo y texto descriptivo -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/test.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Primer evento</h5>
          <p>Aqui se describe el primer evento</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/test.jpg?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
        <div class="carousel-caption d-none d-md-block" style="top:0;bottom:auto;">
          <h4>Segundo evento</h4>
          <p>Aqui se describe el segundo evento</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/test.jpg?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
        <div class="carousel-caption d-none d-md-block" style="left:0;right:auto;text-align:left !important;margin-left:6em;">
          <h3>Tercer evento</h3>
          <p>Aqui se describe el tercer evento</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>

  <hr />
  <!-- Carrusel eventos pasados -->
  <h3>Eventos pasados</h3>
  <!-- Adaptacion del ejemplo original de la documentacion de bootstrap para usarlo en rails con n objetos simulando un modelo en un array multidimensional en el controlador llamado @test_carr -->
  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @test_carr.each do |i|%>
        <%if i.first=='0'%>
          <li data-target="#carouselExampleIndicators1" data-slide-to='<%= i.first %>' class='active'></li>
        <%else%>
          <li data-target="#carouselExampleIndicators1" data-slide-to=<%= i.first %>></li>
        <%end%>
      <%end%>
    </ol>
    <div class="carousel-inner">
      <% @test_carr.each do |i| %>
        <%if i.first=='0'%>
          <div class="carousel-item active">
            <img class="d-block w-100" src="<%= i[1] %>" alt='<%=i[2]%>'>
            <div class="carousel-caption d-none d-md-block">
              <h5><%=i[2]%></h5>
              <p><%=i[3]%></p>
            </div>
          </div>
        <%else%>
          <div class="carousel-item">
            <img class="d-block w-100" src="<%= i[1] %>" alt='<%=i[2]%>'>
            <div class="carousel-caption d-none d-md-block">
              <h5><%=i[2]%></h5>
              <p><%=i[3]%></p>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>

</div>
