<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-body">
              <h5><a href="#" class="card-title text-dark">Evento en vivo</a></h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>
              <%=link_to 'Ver más', '#', class: 'card-link'%>
              <br />
              <div class="row media-buttons">
                <div class="fb-share-button" data-href="#" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                <a class="twitter-share-button" target="_blank" rel="#" href="https://twitter.com/intent/tweet?text=Estoy%20viendo%20esta%20transmisi%C3%B3n%20en%20vivo!%20%23akia" data-size="large">Tweet</a>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script><script type="IN/Share" data-url="#"></script>
              </div>

              <a href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomienda</a>
            </div>
          </div>
          <div class="col-sm-8">
            <p class="card" style="height:100%;background-color:#999999">
              <br /><br /> Video
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <!-- Carrusel proximos eventos -->
  <h3>Próximos eventos</h3>
  <!-- Tomado de la documentacion de bootstrap, se deja para mostrar los diferentes estilos del titulo y texto descriptivo -->
  <div class="col-md-12">
    <div id="nextEventC" class="card-deck next-events-carousel content-fluid">
      <div class="card">
        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/25b826/fff" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Evento 1</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="text-right"><a class="card-text text-right" href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomendar</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Evento 2</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="text-right"><a class="card-text text-right" href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomendar</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="/assets/test.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Evento 3</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="text-right"><a class="card-text text-right" href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomendar</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="/assets/test-big.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Evento 4</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <p class="text-right"><a class="card-text text-right" href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomendar</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="/assets/test-2.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Evento 5</h4>
          <p class="card-text">This is a longer card with supporting text below.</p>
          <p class="text-right"><a class="card-text text-right" href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomendar</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Evento 6</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="text-right"><a class="card-text text-right" href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomendar</a></p>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <!-- Carrusel eventos pasados -->
  <h3>Eventos pasados</h3>
  <!-- Adaptacion del ejemplo original de la documentacion de bootstrap para usarlo en rails con n objetos simulando un modelo en un array multidimensional en el controlador llamado @test_carr -->
  <div class="col-md-12">
    <div id="pastEventC" class="card-deck past-events-carousel content-fluid">
      <% @test_carr.each do |i| %>
        <div class="card">
          <img class="card-img-top img-fluid" src='<%= i[1] %>' alt='<%= i[2] %>'>
          <div class="card-body">
            <h4 class="card-title"><%= i[2] %></h4>
            <p class="card-text"><%= truncate(i[3], length: 160, separator: ' ') %></p>
            <p class="text-right"><a class="card-text text-right" href="mailto:enteryour@addresshere.com?subject=Evento%20<%= i[2] %> Name&body=Te mando el link a este evento! Participa!">Recomendar</a></p>
          </div>
        </div>
      <%end%>
    </div>
  </div>

</div>
